<% provide(:title, 'About') %>
<h2>Reaching your goals together is always better!</h2><br />
<h4>We know it can be difficult to keep yourself motivated when you're pursuing a goal by yourself.  This app is here to help you and your friends keep each other accountable and encourage one another to reach all your goals!</h4>

<footer id="copyright">
    &copy; 2016 David Quigley. All rights reserved.
</footer>
