<div class="page-header">
  <%= link_to user_goal_path(current_user, @task.goal), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to user_goal_task_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing task</h1>
</div>

<%= render 'form' %>

<footer id="copyright">
    &copy; 2016 David Quigley. All rights reserved.
</footer>
