<div class="page-header">

  <%= link_to @user, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Back
  <% end %>
  <h1>Edit Account</h1>
</div>

<%= render 'form' %>

<footer id="copyright">
    &copy; 2016 David Quigley. All rights reserved.
</footer>
