<% provide(:title, 'Home') %>
<div class="text-center jumbotron">
  <h1>Goals with Friends!</h1>
  <h3>Providing a way to encourage and keep each other accountable as you and your friends strive to reach goals.</h3>
  <br/>
</div>
